.container {
  /* height: ; */
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 2fr 2fr 1fr 1fr;
  gap: 1rem 2rem;
  margin: auto;
  flex-wrap: wrap;
}
.content {
  /* border: 2px solid black; */
  /* box-shadow: 1 1 1px black; */
}

.content1 {
  background-image: url(./img/flowers-276014_1280.jpg);
  background-size: cover;
  background-position: center;
  /* opacity: 0.5; */
  grid-area: 1/1/2/4;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  padding-left: 2rem;
  line-height: 0.8;
}
.siteAdi {
  font-family: "Big Shoulders Inline Text", sans-serif;
  font-size: 3rem;
  color: black;
}
.siteAdi h2 {
  font-family: "Bigelow Rules", serif;
  font-size: 2.5rem;
  word-spacing: 1rem;
  color: black;
  text-decoration: double;
}

.content2 {
  grid-area: 2/1/3/3;
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;
}
.content2 div {
  color: black;
  position: absolute;
  bottom: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  padding-left: 2rem;
}
.content2 img {
  width: 100%;
  height: 100%;
}
.content3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.content3 img {
  width: 100%;
  height: 80%;
  /* border-radius: 10%; */
}
.content4 {
  grid-area: 3/1/5/2;
  display: flex;
  position: relative;
}

.content4 img {
  width: 100%;
  height: 100%;
}
.content4 div {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  font-size: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-right: 2rem;
}
.content5 {
  grid-area: 3/2/5/3;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}
.content5 img {
  width: 100%;
  height: 80%;
}
.content6 {
  grid-area: 3/3/5/4;
  display: flex;
  position: relative;
}
.content6 img {
  width: 100%;
  height: 100%;
}
.content6 div {
  position: absolute;
  bottom: 0;
  padding-left: 2rem;
  text-align: center;
}

.content7 {
  /* background-color: rgba(245, 245, 220, 0.618); */
  grid-area: 5/1/6/4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 3rem;
}
@media screen and (max-width: 950px) {
  .container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;

    /* font-size: 1rem; */
  }
  .siteAdi {
    font-family: "Protest Strike", sans-serif;
    font-size: 2.5rem;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .siteAdi h2 {
    display: none;
    /* font-family: "Bigelow Rules", serif;
    font-size: 2rem;
    /* word-spacing: 1rem; */
    color: black;
    text-decoration: double;
  }
  .content {
    width: 100%;
    /* box-shadow: 1 1 1px black; */
    display: flex;
    flex-wrap: wrap;
    min-width: 450px;
  }
}
